# C#
*.suo
*.user
.vs/
/MSI.Keyboard.Illuminator/bin/
/MSI.Keyboard.Illuminator/obj/
/MSI.Keyboard.Illuminator.Tests/bin/
/MSI.Keyboard.Illuminator.Tests/obj/

# Additional
/binaries/
*appsettings.xml